.form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}

.profile {
  /* vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%; */
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

.profile img {
  height: 50%;
  width: 50%;
}
