.text-editor {
  border-top: 2px solid grey;
  border: 1px solid grey;
  border-radius: 5px;
  /* border: 1px solid red; */
  width: 96%;
}

.menu-bar button {
  font-size: 15px;
  margin: 7px;
  outline: none;
  border: none;
  background: none;
  color: rgb(70,70,70);
  cursor: pointer;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
}

button.is-active {
  background: rgb(197, 197, 197);
  padding: 3px;
  border-radius: 2px;
}

.ProseMirror {
  padding: 10px;
  border-top: 1px solid black;
  background: rgb(236, 236, 236);
  border-radius: 0 0 5px 5px;
  min-height: 200px;
}

.ProseMirror > * + * {
    margin-top: 0.75em;
  }

  .ProseMirror ul,
  .ProseMirror ol {
    padding: 0 1rem;
  }


  .ProseMirror h2 {
    line-height: 1.1;
  }