.profile-page {
  font-family: "Roboto", sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  /* display: flex;
  justify-content: center; */
}

.pfp {
  /* vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%; */
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

.pfp img {
  height: 50%;
  width: 50%;
}

.twitter,
.instagram {
  height: 30px;
  width: 30px;
}

.profile-card {
  /* border: 1px solid red; */
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-user-name {
  font-weight: bold;
  font-size: 18pt;
}

.profile-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn {
  border: 1px solid #fa9500;
  border-radius: 3px;
  background: none;
  padding: 5px;
}

.blogs-num {
  font-weight: bold;
}

.profile-hr {
  margin: 5px 0 10px 0;
}

/* Blogs section */

.blog-cards {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.blog-preview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.selected-blogs {
  /* margin-top: 50px; */
}

.blogs-title {
  font-size: 18pt;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
