.detail-box {
    height: 100vh;
    margin: 0;
}

.message-body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-only {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
    align-items: center;
}

.comment-input {
    width: 100%;
}

.message-header {
    width: 100%;
}

.author-only {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
}

.message-header {
    display: flex;
    flex-direction: column;
}

.tags-container {
    height: 100%;
}

.tags-box {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-box {
    height: 40vh;
}

.author-box {
    height: 20vh;
}

.comment {
    padding: 1vh;
    border-radius: 1vh;
}

.delete-function {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: coral;
    font-size: 1.8vh;
}

.author-functions {
    display: flex;
    justify-content: space-around;
}

.add {
    width: 10%;
    font-size: 1.8vh;
    font-weight: bold;
}

.edit {
    font-size: 1.8vh;
    font-weight: bold;
}

.footnotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
}

.text-area {
    height: 10px;
}