/* .NavBar {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}

.NavBar-logout {
  margin: 0 10px;
}

.NavBar-welcome {
  color: grey;
} */

/* Logged in user */
.navBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px blue solid; */
  padding: 5px;
}

.navBar-logged-in {
  color: #bcbcbc;
}

.user-name {
  margin-left: 5px;
}

.navBar-logout {
  margin-right: 5px;
}

.navBar a {
  text-decoration: none;
  text-transform: uppercase;
  /* color: #bcbcbc; */
}

.navBar a:hover {
  cursor: pointer;
  padding-bottom: 5px;
}

.navBar h2,
.navBar-login,
.navBar-signup {
  font-family: "Roboto", sans-serif;
}

.blen {
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Space Mono", monospace;
  font-size: 24pt;
}

.navBar-left {
  display: flex;
}

.about {
  margin-right: 5px;
}

.create-blog {
  margin-left: 5px;
}

/* Logged out/non-user: */

.navBar-login {
  margin-right: 5px;
}

.navBar-signup {
  margin-left: 5px;
  /* background-color: #fa9500; */
  border: 1px solid #fa9500;
  border-radius: 3px;
  padding: 4px;
}
